parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Class DateTimeImmutable is unsafe to use#'
        - '#Control structures using switch should not be used#'
        - '#Method .* has parameter .* with null as default value#'
        - '#Thrown exceptions in a catch block must bundle the previous exception#'
    ergebnis:
        classesAllowedToBeExtended:
            - InvalidArgumentException

includes:
    - vendor/ergebnis/phpstan-rules/rules.neon
    - vendor/jangregor/phpstan-prophecy/extension.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
