parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Class DateTimeImmutable is unsafe to use#'
    ergebnis:
        noNullableReturnTypeDeclaration:
            enabled: false
        noParameterWithNullableTypeDeclaration:
              enabled: false
        noParameterWithNullDefaultValue:
            enabled: false
        noExtends:
            classesAllowedToBeExtended:
                - InvalidArgumentException
                - Twig\Extension\AbstractExtension

includes:
    - vendor/ergebnis/phpstan-rules/rules.neon
    - vendor/jangregor/phpstan-prophecy/extension.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
