parameters:
    level: max
    paths:
        - src
        - tests
    ergebnis:
        noNullableReturnTypeDeclaration:
            enabled: false
        noParameterWithNullableTypeDeclaration:
              enabled: false
        noParameterWithNullDefaultValue:
            enabled: false
        noExtends:
            classesAllowedToBeExtended:
                - InvalidArgumentException
                - Twig\Extension\AbstractExtension

includes:
    - vendor/ergebnis/phpstan-rules/rules.neon
